
/* Body Mods */
.mainBody {
    background-color: #ffffff;
    color: #630529;
    font-size: auto;
    font-family: Calibri;
    text-align: center;
    border: 0px;
    box-shadow: inset 0 0 0 3000px white;
    box-shadow: outset 0 0 0 3000px white;
    margin-left: 60px;
    margin-right: 60px;
    
}

/* Head Mods */
h1 {
    color: white;
    font-size: 2.4em;
    font-family: "Lemon/Milk", sans-serif;
    padding: 30px 0;
    border: 3px solid black;
    text-align: center;
    background-clip: content-box; /* <---- */
    box-shadow: inset 0 0 0 200px #630529;
    margin-left: 60px;
    margin-right: 60px;
    text-shadow: 5px 5px black;
}
.navitem {
    color: black;
    font-size: 1.6em;
    font-family: "Lemon/Milk", sans-serif;
    text-align: center;
}

/* Class & ID Mods */
.contentAlign {
    font-family: Arial;
    padding: 10px;
    border: 3px solid black;

}

.lists {
    text-align: left;
    padding-left: 30px;
}

.link-box{
    padding: 10px;
    border: 3px solid black;
    margin-left: 10px;
    margin-right: 10px;
    color: inherit;
    text-decoration: inherit;
    border-radius: 15px;
    font-family: "Lemon/Milk", sans-serif;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-left: 50px;
    margin-right: 50px;
}

.media-format {
    color: inherit;
    text-decoration: inherit;
}


img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

video {
    border: 3px solid black;
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

iframe {
    border: 3px solid black;
    width: auto;
    aspect-ratio: 16/9;
}

#contact-box {
    font-family: Arial;
    padding: 10px;
    border: 3px solid black;
    margin-left: 150px;
    margin-right: 150px;
}