body {
    margin-left: 4%;
    margin-right: 4%;
    font-family: 'Comfortaa';
    color: #272727;
}

#topbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding-top: 20px;
    padding-left: 7%;
    padding-right: 7%;
}

#profile {
    display: flex;
    align-items: center;
    padding-top: 20px;
    width: 400px

}

#avatar {
    height: 120%;
    border-radius: 50%;
    border: 5px solid white;
    filter: drop-shadow(0px 0px 8px #969696);
}

#nameplate {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: "Lemon/Milk", sans-serif;
    height: 115px;
    width: 300px;
}

#name {
    font-size: 32px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Lemon/Milk", sans-serif;
    font-size: 150%;
    column-gap: 40px;
}

a {
    color: #272727;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color:#9b0a42;
    font-weight: bold;
    font-size: 105%;
    filter: drop-shadow(3px 3px 2px #c7c7c7);
}

h2 {
    font-family: "Lemon/Milk", sans-serif;
    font-size: 60px;
    text-align: center;
}

#game-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    border: 10px solid white;
    filter: drop-shadow(0px 0px 8px #969696);
}

#link-image {
    padding: 10px;
}

#link-image:hover {
    opacity: 80%;
}

#about-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
    column-gap: 20px;
}

#about-images {
    width: 20%;
    border: 10px solid white;
    filter: drop-shadow(0px 0px 8px #969696);
}

#about-vids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 7%;
    padding-right: 7%;
    column-gap: 20px;
}

video {
    width: 500px;
    border: 10px solid white;
    filter: drop-shadow(0px 0px 8px #969696);
}

p {
    font-size: 24px;
    color: #272727;
    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
}

#social-tray {
    display: flex;
    justify-content: center;
    padding-block: 20px;
}

